*{
    margin:0px;
    padding:0px;
}

#header {
    background-color: #093263;
    height:80px;
    margin:0px;
    padding:0px;

    }

body {
    background-color: #1d2b42;
    margin:0px;
    padding:0px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

main{
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
}



nav {
    height: 42px;
    background-color: #093263;
    }

    nav ul {
        list-style-type: none;
        height: 40px;
        padding: 0px 10px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    nav ul li {
        margin-left: 10px;
        font-family: "Arial";
        font-size: 23px;
    }
    nav ul li a {
        color: #C0C0C0;
        text-decoration: none;
    }

    .h3 {text-align: center;
    }

    .row {margin-top: 1px;
    }

    #color1 {
        color:#C0C0C0
    }

    #background1 { 
        background-color: #1d2b42;
        text-align: center;
        align-content: center;
        justify-content: center;
        color:#C0C0C0;
        border-color: black;
    }
    
    #background2 {
         background-color: #1d2b42; 
         align-content: center;
         justify-content: center;
        }

   